### Maven ###
target/
*.ser
*.ec
dependency-reduced-pom.xml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### OS X ###
.DS_Store

### Temporary files ###
# TODO: remove once temporary files no longer here
box.xml
stadd.xml